name: Test

on:
  issue_comment:
    types: [created, edited]
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          COMMENT_BODY: ${{ github.event.comment.body }}